<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="author" content="GJyao">
	<meta name="description" content="个人博客，技术笔记，生活随笔">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
	<meta property="og:site_name" content="姚慧敏的博客">
	<meta name="keywords" content="<%=config.keywords%>">
	<title><%post.title%> - <%=config.site_name%></title>
	<link rel="stylesheet" href="/styles/basic.css">
	<link rel="stylesheet" href="/styles/blog.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/pace-theme-minimal.css">
	<link href="/favicon.ico" rel="icon">
	<script src="/scripts/pace.min.js"></script>
</head>
<body>
<div class="container">
	<div class="wrapper">
		<section class="navbar">
			<nav class="info">
				<a href="/">
					<section class="me">
						<img src="/images/me.jpg" alt="GJyao">
					</section>
				</a>
				<section class="nav">
					<ul>
						<li>
							<a href="/blog" class="btn">
							<i class="fa fa-home"></i>Blog<i class="after"></i>
							</a>
						</li>
						<span>&nbsp·&nbsp</span>
						<li>
							<a href="/links"><i class="fa fa-heartbeat"></i>Links <i class="after"></i>
							</a>
						</li>
						<span>&nbsp·&nbsp</span>

						<li>
							<a href="http://www.github.com/gjyao" class="btn"><i class="fa fa-github"></i>Github <i class="after"></i>
							</a>
						</li>
		                <span>&nbsp·&nbsp</span>
						<li>
							<a href="http://weibo.com/gjyao">
								<i class="fa fa-weibo"></i>Weibo <i class="after"></i>
							</a>
						</li>
					</ul>

				</section>
			</nav>
		</section>
		<section class="posts arc">
			<h1 class="title">
				<%=post.title%>
			</h1>
			<div class="post_info">
				<%=post.date%>
				<%=post.category.name%>
				<%=post.views%>次阅读,
				<%=post.stars%>个赞
			</div>
			<article>
				<%-post.contents %>
			</article>
			<section class="star_zone">
				<button class="star_btn"><i class="star-icon fa fa-heart-o fa-heart"></i>
				<span class="star_num"><%=post.stars%></span>个喜欢
				</button>
			</section>

		</section>
		<footer>
			© 2017 GJ yao All rights reserved | myBlog<br>
			Based on Node.js, <a href="https://github.com/gjyao">Repos on Github</a>			
		</footer>
	</div>
</div>
<script src="/scripts/jquery-2.1.3.min.js"></script>
<script src="/libs/code-prettify/prettify.js"></script>
<script>
(function(){
    $('pre').addClass('prettyprint');
    prettyPrint();
})();
</script>
<script>
// $(".star_btn").attr
$(".star_btn").click(function() {
	var num = parseInt($(".star_num").html());
	$(".star_num").html(num+1);
	$(".star_btn").attr({"disabled": "disabled"});
	$(".star-icon").removeClass("fa-heart-o");
	$(".star-icon").addClass("fa-heart");

	$.post("/post/star", "id=<%=post._id%>");
});
</script>
<div style="display: none">
	<script type="text/javascipt">
		<!-- protocal -->
	</script>
</div>
</body>
</html>